
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#header {
    margin: 0px 0px 1em 0px;
    padding: .5em 2em;
    text-align: right;
    background-color: #008CBA;
    color: white;
}

#main {
  margin: 2em;
}

#footer {
  border-top: 1px solid #c0c0c0;
  padding: .5em 2em 1em 2em;
}

#question {
  text-align: center;
}

a.btn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

a.btn:hover {
  text-decoration: none;
  background-color: #00ACDA;
}
