<!DOCTYPE html>
<html>
  <head>
    <title>Questionnaire</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../favicon.ico" type="image/ico">
    <link rel="stylesheet" href="../style.css" type="text/css">
  </head>
  <body class="user">
    <div id="header">
      Gedaan: {{.Done}} | Overgeslagen: {{.Skipped}} | Nog te doen: {{.Todo}}
    </div>
    <div id="main">

      <div id="question">
        Klaar!
        <p>
        Bedankt voor je inzet
      </div>

    </div>

    <div id="footer">
      <a href="..">Terug naar begin</a>
    </div>
    </body>
</html>
