Options +Multiviews
AddType text/html;qs=0.98 .html
AddType text/html;qs=0.99 .md
AddType text/turtle;qs=0.99 .ttl
Addtype application/rdf+xml;qs=1.00 .rdf
AddType application/n-triples;qs=0.99 .nt
AddType text/x.penman;qs=0.99 .penman
