<!DOCTYPE html>
<html>
  <head>
    <title>Questionnaire</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../favicon.ico" type="image/ico">
    <link rel="stylesheet" href="../style.css" type="text/css">
  </head>
  <body class="user">
    <div id="header">
      Done: {{.Done}} | Skipped: {{.Skipped}} | To do: {{.Todo}}
    </div>
    <div id="main">

      <h1>Questionnaire</h1>

      <div id="question">
        You are all done
        <p>
        Thanks for your cooperation
      </div>

    </div>

    <div id="footer">
      <a href="..">Home</a>
    </div>
    </body>
</html>
