<!DOCTYPE html>
<html>
  <head>
    <title>Mail sent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../favicon.ico" type="image/ico">
    <link rel="stylesheet" href="../style.css" type="text/css">
  </head>
  <body class="login">
    <div id="header">
      &nbsp;
    </div>
    <div id="main">
      <h1>Mail sent</h1>
      A message was sent to {{.}}. Visit the link in that message to log in.
    </div>
    <div id="footer">
      <a href="..">Home</a>
    </div>
  </body>
</html>
