<!DOCTYPE html>
<html>
  <head>
    <title>Questionnaire items</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../favicon.ico" type="image/ico">
    <link rel="stylesheet" href="../style.css" type="text/css">
  </head>
  <body class="user">
    <div id="header">
      Done: {{.Done}} | Skipped: {{.Skipped}} | To do: {{.Todo}}
    </div>
    <div id="main">

      <h1>Questionnaire</h1>

      <div id="question">
        You have skipped {{.Skipped}} {{if eq .Skipped 1}} item {{else}} items {{end}}
        <p>
        Would you like to try {{if eq .Skipped 1}} this item {{else}} these items {{end}} again?
      </div>

      <form action="."  method="post">
        <input type="hidden" name="action" value="unskip">
        <hr>
        <p>
          <input type="radio" id="yes" name="unskip" value="yes" autofocus>
          <label for="yes">Yes, try again</label><br>
          <input type="radio" id="no" name="unskip" value="no">
          <label for="no">No, thanks</label><br>
        </p>
        <hr>
        <input type="submit">
      </form>

    </div>

    <div id="footer">
      <a href="..">Home</a>
    </div>
    </body>
</html>
